body{
    background:linear-gradient(to right, pink,orange,skyblue);
    background-size:cover;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}
.main-container{
    width: 80%;
    height: 87.5vh;
    text-align: center;
    background:hotpink;
    border: 3px solid red;
    box-shadow:2px 1px 3px black;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(6px);
    border-radius: 20px 50px;
    position: relative;
}
h1{
    padding-top: 10px;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 20px;
    color:black;
    text-shadow :2px 1px rgb(215, 242, 250);
    letter-spacing:3px;
}
input[type="text"]{
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    text-align: center;
    outline: none;
    background-color: #f73644;
    text-transform :capitalize;
    box-shadow: 2px 2px 5px black;
}
input[type="text"]:hover{
    border-radius: 30px;
    background-color: yellow;
    color :#26010b;
}
input[type="text"]::placeholder{
    color: black;
}
input[type="text"]:active{
    background-color: rgb(22, 203, 244);
}

input[type="submit"]{
    height: 30px;
    border-radius: 40px;
    border: none;
    padding :0 15px;
    background-color: rgb(255, 165, 0);
    font-size: 16px;
    box-shadow: 2px 2px 5px rgb(18, 21, 10);
    cursor: pointer;
    outline: none;  
    margin-left: 15px;
}
input[type="submit"]:hover{
    background-color: rgb(22, 203, 244);
    color:black;
}
.task-container{
    margin:auto;
    margin-top: 20px;
    width:95%;
    height:55vh;
    overflow:auto;
    position: relative;
}
li{
    margin:2px;
    font-size:20px;
    text-align: left;
    padding-left: 20px;
}
.delete-btn{
    background-color: rgb(234, 13, 13);
    border:none;
    float:right;
    border-radius:5px;
    color:rgb(55, 52, 52);
    cursor:pointer;
    padding:10px 12px;
    font-size:14px;
    box-shadow:2px 2px 5px rgb(2, 234, 247);
}
h4{
    color: black;
    text-shadow :1px 1px #e62a47;
    letter-spacing:3px;
    font-size: 25px;
    position: absolute;
    top: -25px;
    right:200px
}
#date-input{
    font-size: 18px;
    border-radius: 5px;
    border: none;
    position:absolute;
    padding: 3px;
    outline: none;
    top:5px;
    background-color: transparent;
    outline:none;
}
input[type="date"]:hover{
    border-radius: 40px;
    background-color: rgb(93, 93, 166);
    text-shadow: 2px 2px 5px rgb(253, 169, 3);
}
input[type="checkbox"]{
    width:18px;
    height:28px;
    margin-top:8px;
    cursor:pointer;
    position:absolute;
    left:12px;
}
label{
    font-size:20px;
    margin-right:15px;
    color: black;
    text-transform: capitalize;
    text-shadow :1px 1px antiquewhite;
    letter-spacing:2px;
}
@media screen and (max-width:768px){
    body{
        height:fit-content;
    }
    .main-container{
        width:90%;
        height:85.5vh;
        position:relative;
    }
    h4{
        position:absolute;
        top:-30px;
        right:30px;
    }
    h1{
        font-size:25px;
    }
    input[type="text"]{
        width:250px;
        margin-top:-10px;
    }
}

