body{
    background-size:cover;
    background:url(purple.webp);
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}
.main-container{
    width: auto;
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 500px;
    height: 87.5vh;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    position: relative;
}
h1{
    padding-top: 10px;
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 20px;
    color: black;
    text-shadow :1px 2px yellow;
    letter-spacing:2px;
}
input[type="text"]{
    width: 60%;
    height: 40px;
    border-radius: 30px 0 0 30px;
    border: none;
    font-size: 20px;
    text-align: center;
    outline: none;
    margin-left:-100px;
    background-color: rgba(95, 5, 91, 0.7);
    text-transform :uppercase;
    font-weight: bold;
    font-family: "Playfair Display", serif;
}
input[type="text"]::placeholder{
    color: yellow;
    font-weight: bold;
    text-transform :uppercase;
    letter-spacing:1px;
}

input[type="submit"]{
    height: 42px;
    border-radius: 0 30px 30px 0;
    border: none;
    position:absolute;
    padding :0 15px;
    margin-left: -5px;
    background-color: rgb(245, 3, 60);
    font-size: 21px;
    color: rgb(252, 249, 249);
    cursor: pointer;
    outline: none; 
}
input[type="submit"]:hover{
    background-color: rgb(42, 155, 157);
}
.input-data{
    position:relative;
}
.task-container{
    margin:auto;
    margin-top: 20px;
    width:95%;
    height:55vh;
    overflow:auto;
    position: relative;
}
li{
    margin:2px;
    font-size:20px;
    text-align: left;
    padding-left: 20px;
}
.delete-btn{
    background-color:transparent;
    border:1px solid black;
    float:right;
    border-radius:5px;
    color:red;
    cursor:pointer;
    padding:5px 7px;
    margin:1.5px 4px;
    font-size:14px;
}
h4{
    color: black;
    text-shadow :1px 1px #e62a47;
    letter-spacing:3px;
    font-size: 25px;
    position: absolute;
    top: -25px;
    right:200px
}
input[type="checkbox"]{
    width:18px;
    height:32px;
    margin-top:2px;
    cursor:pointer;
    position:absolute;
    left:12px;
}
.input-data{
    background-color: rgba(128, 95, 95, 0.4);
    margin-top: 20px;
    padding-bottom: 50px;
    border-radius: 50px;
}   

@media screen and(max-width:768px){
    .main-container{
        max-width:90%;
        height:80.5vh;
        position:relative;
    }
    h1{
        font-size:22px;
    }
    input[type="text"]{
        max-width:250px;
    }
    .input-data{
        margin-bottom: 20px;
    }
}
